.aaa{
    display: flex;
    align-items: flex-end;
}
.sms{
    height: 100px;
    width: 200px;
    border-radius: 10px 10px 10px 0px;
    /*border-color:darksalmon;*/
    background-color: rgba(238, 245, 139);

}
.message {
    padding: 3px;
color: #282c34;
    display: flex;
    word-wrap: break-word;
}
.img{
    height: 60px;
    width: 60px;


}
.name{
    padding: 2px 10px;
font-weight: bold;
    color: rebeccapurple;
}
.time{
    color: blue;
    opacity: 0.28;
    display: flex;
    justify-content:  flex-end;
}
.hvostik{
    width: 15px;
    height: 15px;
background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(238, 245, 139, 25) 0);
}